
/* New Browser */
html.svg #svg-logo {
	width: 30%;
}


html.no-svg #svg-logo {
	display: none;
}


/* Older Browser */
html.svg #png-logo {
	display: none;
}


html.no-svg #png-logo {
	background: red;
}




/*
html.no-svg .nay,
html.no-touch .nay {
	color: orange;
}


html.no-svg .yey,
html.no-touch .yey {
	display: none;r
}

html.svg .yey,
html.touch .yey {
	color: teal;
}

html.svg .nay
html.touch .nay{
	display: none;
}
*/